{% include "header.html" %}
<!-- / Navbar -->

<!-- Content wrapper -->

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-6">
                <h2>{{month}} - {{year}}</h2>
            </div>
            <div class="col-6 text-end">
                <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <style>
                        .item-hover:hover {
                            background-color: #696cff;
                            color: #fff;
                        }
                    </style>
                    <div class="dropdown-menu dropdown-menu-start" aria-labelledby="transactionID">
                        <a class="dropdown-item item-hover" href="{% url 'dashboard_last_month' %}">Last Month</a>
                        <a class="dropdown-item item-hover" href="{% url 'dashboard_this_year' %}">This Year</a>
                        <a class="dropdown-item item-hover" href="{% url 'dashboard_lifetime' %}">lifetime</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="card-title d-flex
                                                align-items-start
                                                justify-content-between">

                            {% if loss_perct == None %}
                            <div class="avatar flex-shrink-0">
                                <i
                                    class="bx bx-pie-chart-alt bx-md text-success bg-label-success p-1 rounded"></i>
                            </div>
                        </div>
                        <span class="fw-semibold d-block
                                            mb-1">Profit</span>
                        <h3 class="card-title mb-2">₹{{profit}}</h3>
                        <small class="text-success
                                            fw-semibold"><i class="bx
                                                bx-up-arrow-alt"></i>
                            +{{profit_perct}}%
                        </small>

                        {% elif loss_perct == 0 %}
                        <div class="avatar flex-shrink-0">
                            <i
                                class="bx bx-pie-chart-alt bx-md text-success bg-label-success p-1 rounded"></i>
                        </div>
                    </div>
                    <span class="fw-semibold d-block
                                                mb-1">Profit</span>
                    <h3 class="card-title mb-2">₹{{profit}}</h3>
                    <small class="text-danger
                                                fw-semibold">&nbsp</small>

                    {% else %}
                    <div class="avatar flex-shrink-0">
                        <i
                            class="bx bx-pie-chart-alt bx-md text-danger bg-label-danger p-1 rounded"></i>
                    </div>
                </div>
                <span class="fw-semibold d-block
                                                mb-1">Loss</span>
                <h3 class="card-title mb-2">₹{{profit}}</h3>
                <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i>
                    -{{loss_perct}}%</small>

                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card mt-2">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <i class="bx bx-package bx-md text-warning bg-label-warning p-1 rounded"></i>
                    </div>
                </div>
                <span class="fw-semibold d-block mb-1">Orders</span>
                <h3 class="card-title mb-2">{{orders}}</h3>
                <small class="text-success fw-semibold">
                    <!-- <i class="bx bx-up-arrow-alt"></i> -->
                    &nbsp;
                </small>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card mt-2">
            <div class="card-body">
                <div class="card-title d-flex
                                                align-items-start
                                                justify-content-between">
                    <div class="avatar
                                                    flex-shrink-0">
                        <i class="bx
                                                    bx-wallet bx-md text-info bg-label-info p-1 rounded"></i>
                    </div>
                </div>
                <span class="d-block mb-1">Sales</span>
                <h3 class="card-title text-nowrap
                                                mb-2">₹{{sales}}</h3>
                <small class="text-danger fw-semibold">
                    <!-- <i class="bx bx-down-arrow-alt"></i> -->
                    &nbsp;</small>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card mt-2">
            <div class="card-body">
                <div class="card-title d-flex
                                                align-items-start
                                                justify-content-between">
                    <div class="avatar
                                                    flex-shrink-0">
                        <i class="bx bx-money bx-md text-danger bg-label-danger p-1 rounded"></i>
                    </div>
                </div>
                <span class="d-block mb-1">Payments</span>
                <h3 class="card-title text-nowrap
                                                mb-2">₹{{payments}}</h3>
                <small class="text-danger fw-semibold">
                    <!-- <i class="bx bx-down-arrow-alt"></i> -->
                    &nbsp;</small>
            </div>
        </div>
    </div>


</div>

<div class="row mt-4">
    {% if no_sale == 1 %}
    <div class="col-12">
        <a href="{% url 'sale_adder' %}" class="btn btn-success my-2" style="width: 100%;">Add your first order</a>
    </div>
    {% endif %}
    {% if no_exp == 1 %}
    <div class="col-12">
        <a href="{% url 'expense_adder' %}" class="btn btn-danger my-2" style="width: 100%;">Add your first expense</a>
    </div>
    {% endif %}

    <div class="demo-inline-spacing mt-3">
        <div class="list-group list-group-horizontal-md text-md-center">
            <a class="list-group-item list-group-item-action active" id="order-list-item" data-bs-toggle="list"
                href="#horizontal-order">All Orders</a>
            <a class="list-group-item list-group-item-action" id="expense-list-item" data-bs-toggle="list"
                href="#horizontal-expense">All Expenses</a>
            <!-- <a
                                        class="list-group-item list-group-item-action"
                                        id="transaction-list-item"
                                        data-bs-toggle="list"
                                        href="#horizontal-transaction"
                                        >Transactions</a> -->
        </div>
        <div class="tab-content px-0 mt-0">
            <div class="tab-pane fade show active" id="horizontal-order">
                <div class="mb-4">
                    <div class="card p-2">
                        <h4>Orders - {{month}}</h4>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Order</th>
                                        <th>Price</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    {% for sale in sale_info reversed %}
                                    <tr>
                                        <td>
                                            <i class="fab fa-angular fa-lg text-danger"></i>
                                            <strong>{{sale.customer}}</strong>
                                        </td>
                                        <td>{{sale.item}}</td>
                                        <td>₹{{sale.price}}</td>
                                        <td><span class="">{{sale.date}}</span></td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <form method='POST' id="sale_id_edit">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{sale.id}}" name="sale_edit">
                                                    </form>
                                                    <button class="dropdown-item item-hover" typr="submit"
                                                        onclick="document.getElementById('sale_id_edit').submit()"><i
                                                            class="bx bx-edit-alt me-1"></i> Edit</button>

                                                    <form method='POST' id="sale_id_delete">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{sale.id}}" name="sale_delete">
                                                    </form>
                                                    <button class="dropdown-item item-hover" type="submit"
                                                        onclick="document.getElementById('sale_id_delete').submit()"><i
                                                            class="bx bx-trash me-1"></i> Delete</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><br><br><br><br><br><br><br><br></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="horizontal-expense">
                <div class="mb-4">
                    <div class="card p-2">
                        <h4>Expenses - {{month}}</h4>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Expense</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    {% for expense in expense_info reversed %}
                                    <tr>
                                        <td>
                                            <i class="fab fa-angular fa-lg text-danger"></i>
                                            <strong>{{expense.item}}</strong>
                                        </td>
                                        <td>{{expense.qty}}</td>
                                        <td>₹{{expense.price}}</td>
                                        <td><span>{{expense.date}}</span></td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <form method='POST' id="exp_id_edit">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{expense.id}}" name="exp_edit">
                                                </form>
                                                <div class="dropdown-menu">
                                                    <button onclick="document.getElementById('exp_id_edit').submit()"
                                                        class="dropdown-item item-hover"><i
                                                            class="bx bx-edit-alt me-1"></i> Edit</button>

                                                    <form method='POST' id="exp_id_delete">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{expense.id}}" name="exp_delete">
                                                    </form>
                                                    <button class="dropdown-item item-hover"
                                                        onclick="document.getElementById('exp_id_delete').submit()">
                                                        <i class="bx bx-trash me-1"></i> Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><br><br><br><br><br><br><br><br></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- / Content -->

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme text-center">
    <div class="pb-3">
        © <script>document.write(new Date().getFullYear());</script> Copyright<br>All rights reserverd to
        <span style="color: #2f32eb;"><b>BakersHub</b></span>

    </div>
</footer>
<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div class="buy-now">
    <a href="{% url 'home' %}#cta-premium" target="_blank" class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
</div>


<!-- Core JS -->
<!-- build:js assets-dash/vendor/js/core.js -->
<script src="/static/assets-dash/vendor/libs/jquery/jquery.js"></script>
<script src="/static/assets-dash/vendor/libs/popper/popper.js"></script>
<script src="/static/assets-dash/vendor/js/bootstrap.js"></script>
<script src="/static/assets-dash/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/static/assets-dash/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/assets-dash/vendor/libs/apex-charts/apexcharts.js"></script>
<!-- Main JS -->
<script src="/static/assets-dash/js/main.js"></script>

<!-- Page JS -->
<script src="/static/assets-dash/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>