{% include "header.html" %}
                    <!-- / Navbar -->

                    <!-- Content wrapper -->
                    <div class="content-wrapper">
                        <!-- Content -->

                        <div class="container-xxl flex-grow-1 container-p-y">
                            <!-- Basic Layout -->
                            <div class="row">
                                <div class="col-xl">
                                    <div class="card mb-4">
                                        <div class="card-header d-flex
                                            justify-content-between
                                            align-items-center" style="background-color: rgba(105, 108, 255, 0.16);">
                                            <h2 class="mb-0"
                                            style="color: #2f32eb;"><b>Expense - Edit</b></h2>
                                            <small class="text-muted float-end">Purchase</small>
                                        </div>
                                        <div class="card-body rounded-bottom" style="background-color: rgba(105, 108, 255, 0.16);">                                            
                                                {% if expense != None %}
                                                    {% if expense == 1 %}
                                                    <div class="py-2 px-2 rounded m-2" style="background-color: rgba(255, 113, 113, 0.508); color: red;"><b>
                                                        Fatal Error - Your expense was not added!</b>
                                                    </div>
                                                    {% else %}
                                                    <div class="py-2 px-2 rounded m-2" style="background-color: rgba(113, 255, 151, 0.341); color: green;"><b>
                                                        Expense of <u>{{expense.name}} @{{expense.price}} for {{expense.qty}} {{expense.unit}} on {{expense.date}}</u> Updated</b>
                                                    </div>  
                                                    <a href="{% url 'dashboard' %}">
                                                        <button class="btn
                                                    btn-primary mx-4 my-2">Go Back To Dashboard</button></a>   
                                                    {% endif %}                                                                                                
                                                {% endif %} 
                                                <form method="POST">
                                                    {% csrf_token %}                                                                                               
                                                <div class="mb-3">
                                                    <label class="form-label"
                                                        for="expense_name" style="color: #696cff;">Expense Name<span
                                                            class="text-danger"
                                                            style="font-size:
                                                            large;">*</span></label>
                                                    <input type="text"
                                                        class="form-control"
                                                        id="expense_name"
                                                        name="expense_name"
                                                        value="{{expense_name}}"
                                                        placeholder="Butter"
                                                        aria-label="Expense
                                                        name" required/>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label"
                                                        for="expense_amount"
                                                        style="color: #696cff;">Expense
                                                        Amount<span
                                                            class="text-danger"
                                                            style="font-size:
                                                            large;">*</span></label>
                                                    <div class="input-group
                                                        input-group-merge">
                                                        <span
                                                            class="input-group-text">₹</span>
                                                        <input
                                                            id="expense_amount"
                                                            name="expense_amount"
                                                            value="{{expense_amount}}"
                                                            type="number"
                                                            min="0"
                                                            class="form-control"
                                                            placeholder="100"
                                                            aria-label="Amount"
                                                            required/>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="form-label"
                                                        for="expense_quantity"
                                                        style="color: #696cff;">Quantity<span
                                                            class="text-danger"
                                                            style="font-size: large;">*</span></label>
                                                    <div class="col-8">
                                                        <input
                                                            id="expense_quantity"
                                                            name="expense_quantity"
                                                            value="{{quantity}}"
                                                            type="number"
                                                            min="0"
                                                            placeholder="1"
                                                            class="form-control"
                                                            aria-label="Quantity"
                                                            required/>
                                                    </div>                                                    
                                                    <div class="col-4">
                                                        <select
                                                            class="form-select"
                                                            id="qty_weigth"
                                                            name="qty_unit">
                                                            {% if weight == "piece" %}
                                                            <option selected value="piece">Piece</option>                                                            
                                                            {% else %}
                                                            <option value="piece">Piece</option>
                                                            {% endif %}

                                                            {% if weight == "kg" %}
                                                            <option selected value="kg">Kg</option>
                                                            {% else %}
                                                            <option value="kg">Kg</option>
                                                            {% endif %}

                                                            {% if weight == "ltr" %}
                                                            <option selected value="ltr">Ltr</option>
                                                            {% else %}
                                                            <option value="ltr">Ltr</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label"
                                                        for="extra_note"
                                                        style="color: #696cff;">Extra
                                                        note
                                                    </label>
                                                    <textarea
                                                        id="extra_note"
                                                        name="extra_note"
                                                        class="form-control"
                                                        rows="4"
                                                        placeholder="This item is for cakes">{{extra_notes}}</textarea>
                                                </div>
                                                <div class="mb-5">
                                                    <label
                                                        for="expense_date"
                                                        class="col-md-2
                                                        col-form-label"
                                                        style="color: #696cff;"
                                                        >Date<span
                                                            class="text-danger"
                                                            style="font-size:
                                                            large;">*</span></label>
                                                    <input class="form-control"
                                                        name="expense_date"
                                                        value="{{expense_date}}"
                                                        type="date"                                                    
                                                        id="expense_date"
                                                        required/>
                                                </div>
                                                <input type="hidden" name="exp_id" value="{{id}}">
                                                <button type="submit" class="btn
                                                    btn-primary">Save</button>&nbsp;
                                                    <a href="{% url 'dashboard' %}">                                                        
                                                    <button type="button" class="btn btn-outline-secondary">Cancel</button></a> 
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Content -->

                        <!-- Footer -->
                        <footer class="content-footer footer bg-footer-theme
                            text-center">
                            <div class="mb-3">

                                © <script>document.write(new Date().getFullYear());</script> Copyright<br>All rights reserverd to
                                <span style="color: #2f32eb;"><b>BakersHub</b></span>    

                            </div>
                        </footer>
                        <!-- / Footer -->

                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
        <!-- / Layout wrapper -->

        <div class="buy-now">
            <a
                href="{% url 'home' %}#cta-premium"
                target="_blank"
                class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
        </div>

        <!-- Core JS -->
        
        <!-- build:js assets-dash/vendor/js/core.js -->
        <script src="/static/assets-dash/vendor/libs/jquery/jquery.js"></script>
        <script src="/static/assets-dash/vendor/libs/popper/popper.js"></script>
        <script src="/static/assets-dash/vendor/js/bootstrap.js"></script>
        <script
            src="/static/assets-dash/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="/static/assets-dash/vendor/js/menu.js"></script>
        <!-- endbuild -->

        <!-- Vendors JS -->

        <!-- Main JS -->
        <script src="/static/assets-dash/js/main.js"></script>

        <!-- Page JS -->

        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
