<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-dash-path="/static/assets-dash/" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Forget password</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" href="/static/assets-cta/images/favicon.png">

  <!-- Bootstrap core CSS -->
  <link href="/static/assets-cta/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/assets-cta/css/fontawesome.css">
  <link rel="stylesheet" href="/static/assets-cta/css/templatemo-eduwell-style.css">
  <link rel="stylesheet" href="/static/assets-cta/css/owl.css">
  <link rel="stylesheet" href="/static/assets-cta/css/lightbox.css">


  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/static/assets-dash/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/static/assets-dash/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/static/assets-dash/vendor/css/theme-default.css"
    class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/static/assets-dash/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/static/assets-dash/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <!-- Page CSS -->
  <!-- Page -->
  <link rel="stylesheet" href="/static/assets-dash/vendor/css/pages/page-auth.css" />
  <!-- Helpers -->
  <script src="/static/assets-dash/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="/static/assets-dash/js/config.js"></script>

  <style>
    .blur {
      filter: blur(5px);
    }

    #loading-bh {
      position: absolute;
      z-index: 999;
      top: 50%;
      left: 45%;
      color: rgb(176, 50, 98);
      display: none;
    }
  </style>
</head>

<body style="background: linear-gradient(-145deg, rgb(194, 96, 133) 0%, rgba(246,191,159,1) 100%);">
  <!-- Content -->

  <div class="container-xxl" id="bh-body">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <div class="row">
          <div class="col-12 p-5 text-center">
            <img src="/static/assets-cta/images/logo.png" alt="Baker Hub" style="width: 250px; position: relative; z-index: 10;"/>
          </div>
        </div>
        <!-- Forgot Password -->
        <div class="card" style="background-color: transparent; border: 2px solid black;">
          <div class="card-body">
            <h4 class="mb-2" style="color: black;">Forgot Password? 🔒</h4>
            <p class="mb-4" style="color: black;">Enter your registered email and we'll send you <b>OTP</b> to reset
              your password</p>

            {% if error == 1 %}
            <div class="py-2 px-2 rounded m-2" style="background-color: rgba(255, 113, 113, 0.341); color: red;">
              <b>Fatal error: Email Was Not Sent!</b>
            </div>

            {% elif error == 2 %}
            <div class="py-2 px-2 rounded m-2" style="background-color: rgba(255, 113, 113, 0.341); color: red;">
              <b>E-Mail Id is not registered!</b>
            </div>

            {% elif error == 3 %}
            <div class="py-2 px-2 rounded m-2" style="background-color: rgba(255, 113, 113, 0.341); color: red;">
              <b>Wrong OTP, Try Again</b>
            </div>

            {% elif error == 4 %}
            <div class="py-2 px-2 rounded m-2" style="background-color: rgba(255, 113, 113, 0.341); color: red;">
              <b>Wrong OTP!</b>
            </div>
            {% endif %}

            {% if success == 1 %}
            <div class="py-2 px-2 rounded m-2" style="background-color: rgba(113, 255, 151, 0.341); color: green;">
              <b>Correct OTP!</b>
            </div>

            {% elif success == 2 %}
            <div class="py-2 px-2 rounded m-2" style="background-color: rgba(113, 255, 151, 0.341); color: green;">
              <b>Password Changed!</b>
            </div>

            {% endif %}


            {% if otp_sent == 0 %}
            <form id="formAuthentication" class="mb-3" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" style="color: black;" class="form-label"><b>Email</b></label>
                <input required type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                  autofocus />
              </div>
              <button style="background-color: rgb(176, 50, 98); color: #fff;" id="submit-btn"
                class="btn  d-grid w-100">Send Reset OTP</button>
            </form>

            {% elif otp_sent == 1 %}
            <form id="formAuthentication" class="mb-3" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" style="color: black;" class="form-label"><b>Email</b></label>
                <input required type="email" class="form-control" id="email" name="email_otp" value="{{email}}"
                  placeholder="Enter your email" readonly />
                <input required type="hidden" value="{{trial_round}}" name="trial_round" />
              </div>
              <div class="mb-3">
                <label for="otp" style="color: black;" class="form-label"><b>OTP</b></label>
                <input required type="text" class="form-control" id="otp" name="otp" maxlength="6"
                  placeholder="Enter otp sent to your email" autofocus />
              </div>
              <button style="background-color: rgb(176, 50, 98); color: #fff;" id="submit-btn"
                class="btn  d-grid w-100">Verify</button>
            </form>

            {% elif otp_sent == 2 %}
            <form id="formAuthentication" class="mb-3" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" style="color: black;" class="form-label"><b>Email</b></label>
                <input required type="email" class="form-control" id="email" name="email_password" value="{{email}}"
                  placeholder="Enter your email" readonly />
              </div>
              <div class="mb-3">
                <label for="otp" style="color: black;" class="form-label"><b>New Password</b></label>
                <input required type="password" class="form-control" id="password" name="new_password"
                  placeholder="Set new password" autofocus />
              </div>
              <button style="background-color: rgb(176, 50, 98); color: #fff;" id="submit-btn"
                class="btn  d-grid w-100">Save</button>
            </form>
            {% endif %}

            <div class="text-center">
              <a href="{% url 'sign_in' %}" class="d-flex align-items-center justify-content-center"
                style="color: rgb(176, 50, 98);">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to login
              </a>
            </div>
          </div>
        </div>
        <!-- /Forgot Password -->
      </div>
    </div>
  </div>

  <div class="spinner-border loading-bh" id="loading-bh">
    <span class="visually-hidden">Loading...</span>
  </div>

  <!-- / Content -->

  <!-- Core JS -->
  <script>
    const submitBtn = document.getElementById('submit-btn');
    const loadingDiv = document.getElementById('loading-bh');
    const bhBody = document.getElementById('bh-body');
    const form = document.getElementById('formAuthentication');


    submitBtn.addEventListener('click', () => {
      if (form.checkValidity()) {
        loadingDiv.style.display = 'block';
        bhBody.classList.add('blur');
      } else {
        form.reportValidity();
      }

    });
  </script>


  <script src="/static/assets-cta/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets-cta/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets-cta/js/isotope.min.js"></script>
  <script src="/static/assets-cta/js/owl-carousel.js"></script>
  <script src="/static/assets-cta/js/lightbox.js"></script>
  <script src="/static/assets-cta/js/tabs.js"></script>
  <script src="/static/assets-cta/js/video.js"></script>
  <script src="/static/assets-cta/js/slick-slider.js"></script>
  <script src="/static/assets-cta/js/custom.js"></script>
  <!-- build:js assets-dash/vendor/js/core.js -->
  <script src="/static/assets-dash/vendor/libs/jquery/jquery.js"></script>
  <script src="/static/assets-dash/vendor/libs/popper/popper.js"></script>
  <script src="/static/assets-dash/vendor/js/bootstrap.js"></script>
  <script src="/static/assets-dash/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script src="/static/assets-dash/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->
  <script src="/static/assets-dash/js/main.js"></script>

  <!-- Page JS -->

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>