<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
  <!--<meta name="description" content="Optimize your home baking business with our user-friendly app. From recording expenses to managing orders and generating invoices, we make it easy for you. Get started today and take your business to new heights!">-->
  <meta name="description" content="Track your expenses, manage orders, and analyze your home baking business with Baker's Hub - a user-friendly app. Take your business to new heights with our easy-to-use features. Get started today!">
  <meta name="author" content="Divyam Shah">
  <meta name="keywords" content="bakers hub, Baker's Hub, home baking, business app, expense tracking, order management, analysis">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Baker's Hub - Expense Tracking, Order Management, and Analysis App for Home Baking Business</title>
  <link rel="icon" href="/static/assets-cta/images/favicon.png">
  <!-- Bootstrap core CSS -->
  <link href="/static/assets-cta/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/assets-cta/css/fontawesome.css">
  <link rel="stylesheet" href="/static/assets-cta/css/templatemo-eduwell-style.css">
  <link rel="stylesheet" href="/static/assets-cta/css/owl.css">
  <link rel="stylesheet" href="/static/assets-cta/css/lightbox.css">
  <link rel="stylesheet" href="/static/assets-dash/vendor/fonts/boxicons.css" />


  <!--
-->
<style>
  .btn_bh{
                color: #fff !important;
                background-color: rgb(176, 50, 98) !important;
                cursor: default !important;
            }
  .tex_col_bh{
                color: rgb(176, 50, 98) !important;
            }
</style>
</head>

<!-- <body style="background-color: rgba(238, 170, 233, 0.421);"> -->

<body>
  <!-- ***** Header Area Start ***** -->
  {% include "cta-header.html" %}

  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner rounded-5" id="top"
    style="background: linear-gradient(rgba(219, 138, 222, 0.473) 0%, rgba(246, 191, 159, 0.489))">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Welcome to <b>Baker's Hub</b></h6>
            <h5>Track your <em>Finance!</em></h5>
            <p class="pb-4" style="position: relative; z-index: 2;"><b>Optimize your home baking business with our
              user-friendly app. From recording expenses
              to managing orders and generating invoices,
              we make it easy for you. Get started today
              and take your business to new heights!</b></p>

            <div class="main-button-gradient">
              <div class="scroll-to-section"><a href="#app">Get The App!</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="/static/assets-cta/images/person-studying-online.png" alt="Baker's Hub - Home Baking Business App">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <div class="services" id="services"
    style="background: linear-gradient(to bottom, rgba(246, 191, 159, 0.489), #fff); padding-top: 140px;">
    <br>
    <div class="container">
      <div class="row align-items-end text-center">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Our Services</h6>
            <h4>Services for Your <em>Home Baking Business</em></h4>
          </div>
        </div>
        <div class="col-lg-3 col-6 text-center text-wrap">
          <img src="/static/assets-cta/images/service-icon-02.png" style="max-width: 100px;" alt="Expense Tracking">
          <h4 class="py-3"><b>Expense Tracking</b></h4>
        </div>
        <div class="col-lg-3 col-6 text-center text-wrap">
          <img src="/static/assets-cta/images/service-icon-03.png" style="max-width: 100px;" alt="Record Keeping">
          <h4 class="py-3"><b>Record Keeping</b></h4>
        </div>
        <div class="col-lg-3 col-6 text-center text-wrap">
          <img src="/static/assets-cta/images/service-icon-04.png" style="max-width: 100px;" alt="Cloud Based Technology">
          <h4 class="py-3"><b>Cloud Based Technology</b></h4>
        </div>
        <div class="col-lg-3 col-6 text-center text-wrap">
          <img src="/static/assets-cta/images/service-icon-01.png" style="max-width: 100px;" alt="In-Depth Analysis">
          <h4 class="py-3"><b>In-Depth Analysis</b></h4>
        </div>
      </div>
    </div>
  </div>

  <section class="our-features" id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>OUR FEATURES</h6>
            <h4>What You Can <em>Do</em></h4>
            <p>You just think about Baker's Hub whenever you purchase something or
              whenever you get an order!
            </p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border" onclick="scrollToTarget();"><span>Order Tracker</span></div></a>
                    <div class="gradient-border" onclick="scrollToTarget();"><span>Cost Tracker</span></div>
                    <div class="gradient-border" onclick="scrollToTarget();"><span>Analysis</span></div>
                  </div>
                </div>
                <div class="col-lg-9" id="premium_features">
                  <ul class="nacc">
                    <li class="active" style="box-shadow: 5px 5px 10px black; background: linear-gradient(-145deg, rgba(219, 138, 222, 0.568) 0%, rgba(246,191,159,0.568) 100%)">
                      <div>
                        <div class="left-image" style="text-align: center;">
                          <img src="/static/assets-cta/images/inc.png" style="width:
                              380px;" alt="Order Tracker">
                        </div>
                        <div class="right-content">
                          <h4>Order Tracker</h4>
                          <p>
                            Our order tracker feature simplifies the process of
                            adding orders for you. With our
                            user-friendly interface, you can easily add and
                            manage your orders all in one place. Say goodbye
                            to the hassle of keeping track of orders on paper
                            or in multiple systems - our feature saves you time
                            and helps you stay organized. Plus, our reporting
                            feature allows you to view all of your orders in
                            one place, giving you a clear picture of your
                            business's sales and revenue. By using Baker's Hub,
                            you can streamline your order management
                            process and make critical decisions about your
                            business's growth.
                          </p>
                          <span>Simple</span>
                          <span>Efficient</span>
                          <span class="last-span">User Friendly</span>
                          <div class="text-button">
                            <a href="#register-section">Register</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="box-shadow: 5px 5px 10px black; background: linear-gradient(-145deg, rgba(219, 138, 222, 0.568) 0%, rgba(246,191,159,0.568) 100%)">
                      <div>
                        <div class="left-image" style="text-align: center;">
                          <img src="/static/assets-cta/images/exp.png" style="width:
                              400px;" alt="Cost Tracker">
                        </div>
                        <div class="right-content">
                          <h4>Cost Tracker</h4>
                          <p>Our Cost Tracker feature makes it easy for you
                            to keep track of your expenses. With our
                            simple and intuitive interface, you can quickly
                            enter your expenses and keep them organized in one
                            place. Say goodbye to the hassle of messy
                            spreadsheets and digging through receipts - our
                            feature saves you time and hassle. Plus, our expense
                            reporting feature allows you to view all of your
                            expenses at one place, giving you a clear picture of
                            your business's financial health. By tracking your
                            expenses with Baker's Hub, you can stay in control
                            of your budget and make informed decisions about
                            your business's finances.</p>
                          <span>Simple</span>
                          <span>Efficient</span>
                          <span class="last-span">User Friendly</span>
                          <div class="text-button">
                            <a href="#register-section">Register</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="box-shadow: 5px 5px 10px black; background: linear-gradient(-145deg, rgba(219, 138, 222, 0.568) 0%, rgba(246,191,159,0.568) 100%)">
                      <div>
                        <div class="left-image" style="text-align: center;">
                          <img src="/static/assets-cta/images/report.png" style="width: 350px;" alt="Analysis">
                        </div>
                        <div class="right-content">
                          <h4>Analysis</h4>
                          <p>Our analytical feature makes it easy for
                            you to get a comprehensive view of your
                            business's performance. With our reporting tool,
                            you can view all of your income, expenses, and
                            orders in one place, giving you a clear picture of
                            your business's financial health. Our reporting
                            tool also allows you to filter data by date range,
                            order type, and more, so you can get the insights
                            you need to make informed decisions about your
                            business. Whether you need to track your monthly
                            revenue, compare sales by product, or analyze your
                            expenses, our report generator feature can help
                            you stay on top of your business's performance.
                            With our user-friendly interface, generating
                            reports has never been easier.</p>
                          <span>Simple</span>
                          <span>Efficient</span>
                          <span class="last-span">User Friendly</span>
                          <div class="text-button">
                            <a href="#register-section">Register</a>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta" id="cta-premium">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="left-image" style="text-align: center;">
            <img src="/static/assets-cta/images/20-premium.png" style="width: 500px;" alt="53% Discount">
          </div>
        </div>
        <div class="col-lg-7 align-self-center">
          <h6>Get the discount right now!</h6>
          <h4>Flat 53% OFF For Premium Version</h4>
          <h6 class="pt-4 pb-5">Don't miss out on our exclusive offer! Register yourself today
            and become eligible for a 53% discount on our premium
            version of the app.
            Don't wait - sign up today and get ready to take your home bakery
            business to the next level!</h6>
            <div class="white-button">
              <a href="#register-section">Register Now</a>
            </div>

        </div>


      </div>
    </div>
    </div>
  </section>

  <section class="plans" id="plans" style="margin: 10px 0; padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Pricing</h6>
            <h4>Monthly <em>Plans</em></h4>
          </div>
        </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card mb-4 rounded-3" style="box-shadow: 5px 5px 10px black; background: linear-gradient(-145deg, rgba(219, 138, 222, 0.568) 0%, rgba(246,191,159,0.568) 100%)">
              <div class="card-header py-3">
                <b><h3 class="my-0" style="color: #000; font-weight: 600;">1 Month plan</h3></b>
              </div>
              <hr class="hr p-0 m-0 pb-1" style="color: rgb(176, 50, 98) !important;">
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><strike style="font-size: 25px;">₹539</strike> ₹249<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-styled mt-3 mb-4">
                  <li>Validity <b>1 Month</b></li>
                  <li>Expense Tracker</li>
                  <li>Sales Tracker</li>
                  <li>Analytics</li>
                  <li>Bill Generator<small> <u>(Coming soon)</u></small></li>
                </ul>
                <div type="button" class="w-100 btn btn-lg btn_bh"><b class="float-start">Total <strike>₹539</strike> ₹249</b><i class="bx bx-right-arrow-circle bx-sm rounded-circle float-end tex_col_bh" style="background-color: #fff;"></i></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card mb-4 rounded-3" style="box-shadow: 5px 5px 10px black; background: linear-gradient(-145deg, rgba(219,138,222,0.568) 0%, rgba(246,191,159,0.568) 100%)">
              <div class="card-header py-3">
                <b><h3 class="my-0" style="color: #000; font-weight: 600;">3 Months plan</h3></b>
              </div>
              <hr class="hr p-0 m-0 pb-1 tex_col_bh">
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><strike style="font-size: 25px;">₹420</strike> ₹223<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-styled mt-3 mb-4">
                    <li>Validity <b>3 Months</b></li>
                    <li>Expense Tracker</li>
                    <li>Sales Tracker</li>
                    <li>Analytics</li>
                    <li>Bill Generator<small> <u>(Coming soon)</u></small></li>
                </ul>
                <div type="button" class="w-100 btn btn-lg btn_bh"><b class="float-start">Total <strike>₹1260</strike> ₹669</b><i class="bx bx-right-arrow-circle bx-sm rounded-circle float-end tex_col_bh" style="background-color: #fff;"></i></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card mb-4 rounded-3" style="box-shadow: 5px 5px 10px black; background: linear-gradient(-145deg, rgba(219,138,222,0.568) 0%, rgba(246,191,159,0.568) 100%)">
              <div class="card-header py-3 text-bg-primary">
                <b><h3 class="my-0" style="color: #000; font-weight: 600;">6 Months plan</h3></b>
              </div>
              <hr class="hr p-0 m-0 pb-1 tex_col_bh">
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><strike style="font-size: 25px;">₹383</strike> ₹203<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-styled mt-3 mb-4">
                    <li>Validity <b>6 Months</b></li>
                    <li>Expense Tracker</li>
                    <li>Sales Tracker</li>
                    <li>Analytics</li>
                    <li>Bill Generator<small> <u>(Coming soon)</u></small></li>
                </ul>
                <div type="button" class="w-100 btn btn-lg btn_bh"><b class="float-start">Total <strike>₹2298</strike> ₹1218</b><i class="bx bx-right-arrow-circle bx-sm rounded-circle float-end tex_col_bh" style="background-color: #fff;"></i></div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </section>

  <section id="app">
      <div class="row text-center">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Mobile App</h6>
            <h4>Choose your <em>Platform</em></h4>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5 mb-5">
          <a href="https://play.google.com/store/apps/details?id=app.bakershub.android" target="_blank">
          <img src="/static/assets-cta/images/google_logo.png" alt="Play Store Logo" style="width: 300px;">
          <h6 style="color: #000;"><b>Google Play Store</b></h6>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5 mb-5">
          <a>
          <img src="/static/assets-cta/images/apple_logo.png" alt="App Store Logo" style="width: 300px;"         data-bs-toggle="modal"
          data-bs-target="#modalCenter">
          <h6 style="color: #000;"><b>App Store</b></h6>
          </a>
        </div>
        <!-- Modal -->
      <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Launching Soon!!</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                  <label for="nameWithTitle" class="form-label float-start">Our iOS app is almost here, <br>but in the meantime, you can still enjoy our services through our convenient web app!
                    <br><span style="color: #000;">
                      <b><u>Note: Make sure to bookmark / create shortcut of the web app.</u></b>
                    </span>
                    </label>
            </div>
            <div class="modal-footer">
              <a href="{% url 'app' %}"><button type="button" class="btn btn-primary">Access Web App</button></a>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

<section class="register" id="register-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
          <div id="map">

            <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section-->
            <img src="/static/assets-cta/images/people-working-together-online.png" style="border:0; border-radius: 15px; position: relative;
                z-index: 2;" alt="Register"/>
          </div>
      </div>
      <div class="col-lg-5">
          <form id="register" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Register</h6>
                  <h4>See you <em>Inside</em></h4>
                  <p></p>
                </div>
              </div>
              <div class="col-lg-12">
                {% if error == 1 %}
                <script>
                  // Use JavaScript to scroll to the element on page load
                  window.onload = function () {
                    document.getElementById('register').scrollIntoView();
                  }
                </script>
                <div class="mb-5 py-2 px-2 text-danger rounded m-2"
                  style="background-color: rgba(255, 113, 113, 0.508);"><b>
                    E-mail Id is already registered!
                    </a></b>
                </div>
                {% endif %}
                <fieldset>
                  <input type="name" name="name" pattern="[A-Za-z ]+"
                    title="Please don't enter numbers & symbols in the name field." id="name" placeholder="Full Name"
                    autocomplete="off" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="email" name="email" id="email" placeholder="Your Email" autocomplete="off" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="Password" name="password" id="name" placeholder="Password" autocomplete="off" required>
                </fieldset>
              </div>
              <div class="col-lg-8">
                <p class="mb-3">
                  <span>Already have an account?</span>
                  <a href="{% url 'sign_in' %}">
                    <b><span style="color: #dc8cdb;">Sign in instead</span></b>
                  </a>
                </p>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Register</button>
                </fieldset>
              </div>
            </div>
          </form>
      </div>
      <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </div>
      <div class="col-lg-12">
        <footer class="content-footer footer bg-footer-theme text-center">
          <div class="my-3" style="color: #000;"><b>
              © <script>document.write(new Date().getFullYear());</script> All rights reserverd to</b> <a href="{% url 'home' %}" style="color: rgb(176, 50, 98);"><b><u>Baker's Hub</u></b><br>
              <span style="color: #000;">
              <a href="{% url 'privacy_policy' %}" style="color: #000;"><b><u>Privacy Policy</u></b></a> |
              <a href="{% url 'terms_conds' %}" style="color: #000;"><b><u>Terms and Conditions</u></b></a> |
              <a href="mailto:support@bakershub.in" title="support@bakershub.in" style="color: #000;"><b><u>Contact Us</u></b></a>
              </span>
          </div>
        </footer>
      </div>

    </div>
  </div>
</section
-->

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/static/assets-cta/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets-cta/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets-cta/js/isotope.min.js"></script>
  <script src="/static/assets-cta/js/owl-carousel.js"></script>
  <script src="/static/assets-cta/js/lightbox.js"></script>
  <script src="/static/assets-cta/js/tabs.js"></script>
  <script src="/static/assets-cta/js/video.js"></script>
  <script src="/static/assets-cta/js/slick-slider.js"></script>
  <script src="/static/assets-cta/js/custom.js"></script>
  <script src="/static/assets-dash/vendor/libs/jquery/jquery.js"></script>
  <script src="/static/assets-dash/vendor/libs/popper/popper.js"></script>
  <script src="/static/assets-dash/vendor/js/bootstrap.js"></script>
  <script>
    // get the target element by ID
    function scrollToTarget() {
    const targetElement = document.getElementById('premium_features');

    // scroll to the target element and land slightly above it
    targetElement.scrollIntoView({
      block:"start",
      behavior: 'smooth',
    });
    }
  </script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };
    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>