{% include "header.html" %}
<div class="container-xxl flex-grow-1 container-p-y" style="margin-bottom: 100px;">
<main>
  <h2 class="mb-0" style="color: #000"><strong><b>Plans</b></strong></h2>

    <h6 class="mb-4 mt-2" >
        <b>Choose the plan that fits your budget and helps you manage your home baking business.</b></h6>

    <div class="row row-cols-1 row-cols-md-3 mb-3">
      <div class="col">
        <div class="card mb-4 rounded-3" style="box-shadow: 5px 5px 10px black;">
          <div class="card-header py-3">
            <b><h3 class="my-0" style="color: #000; font-weight: 600;">1 Month plan</h3></b>
          </div>
          <hr class="hr p-0 m-0 pb-1 tex_col_bh">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><strike style="font-size: 25px;">₹539</strike> ₹249<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-styled mt-3 mb-4">  
              <li>Validity <b>1 Month</b></li>
              <li>Expense Adder</li>
              <li>Sales Adder</li>
              <li>Analytics</li>
              <li>Bill Generator<small> <u>(Coming soon)</u></small></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn_bh"><b class="float-start">Pay <strike>₹539</strike> ₹249</b><i class="bx bx-right-arrow-circle bx-sm rounded-circle float-end tex_col_bh" style="background-color: #fff;"></i></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3" style="box-shadow: 5px 5px 10px black;">
          <div class="card-header py-3">
            <b><h3 class="my-0" style="color: #000; font-weight: 600;">3 Months plan</h3></b>
          </div>
          <hr class="hr p-0 m-0 pb-1 tex_col_bh">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><strike style="font-size: 25px;">₹420</strike> ₹223<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-styled mt-3 mb-4">
                <li>Validity <b>3 Months</b></li>
                <li>Expense Adder</li>
                <li>Sales Adder</li>
                <li>Analytics</li>
                <li>Bill Generator<small> <u>(Coming soon)</u></small></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn_bh"><b class="float-start">Pay <strike>₹1260</strike> ₹669</b><i class="bx bx-right-arrow-circle bx-sm rounded-circle float-end tex_col_bh" style="background-color: #fff;"></i></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3" style="box-shadow: 5px 5px 10px black;">
          <div class="card-header py-3 text-bg-primary border-primary">
            <b><h3 class="my-0" style="color: #000; font-weight: 600;">6 Months plan</h3></b>
          </div>
          <hr class="hr p-0 m-0 pb-1 tex_col_bh">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><strike style="font-size: 25px;">₹383</strike> ₹203<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-styled mt-3 mb-4">
                <li>Validity <b>6 Months</b></li>
                <li>Expense Adder</li>
                <li>Sales Adder</li>
                <li>Analytics</li>
                <li>Bill Generator<small> <u>(Coming soon)</u></small></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn_bh"><b class="float-start">Pay <strike>₹2298</strike> ₹1218</b><i class="bx bx-right-arrow-circle bx-sm rounded-circle float-end tex_col_bh" style="background-color: #fff;"></i></button>
          </div>
        </div>
      </div>
    </div>

</main>
</div>

<script src="/static/assets-dash/vendor/libs/popper/popper.js"></script>
<script src="/static/assets-dash/vendor/js/bootstrap.js"></script>
<script src="/static/assets-dash/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/static/assets-dash/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/assets-dash/vendor/libs/apex-charts/apexcharts.js"></script>
<!-- Main JS -->
<script src="/static/assets-dash/js/main.js"></script>

<!-- Page JS -->
<script src="/static/assets-dash/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
