<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900"
            rel="stylesheet">

        <title>Bakers Hub</title>
        <link rel="icon"
            href="/static/assets-cta/images/favicon.png">
        <!-- Bootstrap core CSS -->
        <link href="/static/assets-cta/vendor/bootstrap/css/bootstrap.min.css"
            rel="stylesheet">


        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="/static/assets-cta/css/fontawesome.css">
        <link rel="stylesheet"
            href="/static/assets-cta/css/templatemo-eduwell-style.css">
        <link rel="stylesheet" href="/static/assets-cta/css/owl.css">
        <link rel="stylesheet" href="/static/assets-cta/css/lightbox.css">
        <!--

TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->
    </head>

    <!-- <body style="background-color: rgba(238, 170, 233, 0.421);"> -->
    <body>
        <!-- ***** Header Area Start ***** -->
        {% include "cta-header.html" %}
        <!-- ***** Header Area End ***** -->

        <!-- ***** Main Banner Area Start ***** -->
        <section class="our-features main-banner rounded-5" id="top"
            style="background: linear-gradient(rgba(219, 138, 222, 0.473) 0%,
            rgba(246, 191, 159, 0.489)); padding-top: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="section-heading">
                            <h5>PREMIUM</h5>
                            <h4>What you will get in <em>Premium Version</em></h4>
                            <p>Register yourself for premium version so that you
                                can use it for the first time when it gets
                                launched
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="naccs">
                            <div class="tabs">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="menu">
                                            <div class="active gradient-border"
                                                onclick="scrollToTarget()"><span>Order
                                                    Notifications</span></div>
                                            <div class="gradient-border"
                                                onclick="scrollToTarget()"><span>Weekly
                                                    Reports</span></div>
                                            <div class="gradient-border"
                                                onclick="scrollToTarget()"><span>In-Depth
                                                    Reports</span></div>
                                            <div class="gradient-border"
                                                onclick="scrollToTarget()"><span>Bill
                                                    Generator</span></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 mb-5"
                                        id="premium_features">
                                        <ul class="nacc">
                                            <li class="active">
                                                <div>
                                                    <div class="left-image"
                                                        style="text-align:
                                                        center;">
                                                        <img
                                                            src="/static/assets-cta/images/inc.png"
                                                            style="width:
                                                            380px;"
                                                            alt="">
                                                    </div>
                                                    <div class="right-content">
                                                        <h4>Order Notifications</h4>
                                                        <p>
                                                            With our Premium
                                                            version, you'll be
                                                            able to set up order
                                                            notifications for
                                                            your own internal
                                                            use. This feature is
                                                            designed to help you
                                                            stay organized and
                                                            on top of your
                                                            orders, by reminding
                                                            you when an order is
                                                            scheduled to be
                                                            fulfilled.<br>

                                                            Order Notifications
                                                            can be customized to
                                                            suit your
                                                            preferences. You can
                                                            choose to receive
                                                            notifications via
                                                            WhatsApp, email, or
                                                            both. Additionally,
                                                            you can specify the
                                                            frequency and format
                                                            of notifications to
                                                            best fit your needs.
                                                            With Order
                                                            Notifications,
                                                            you'll be able to
                                                            manage your orders
                                                            more efficiently and
                                                            ensure that you
                                                            never miss a
                                                            scheduled pickup or
                                                            delivery. This
                                                            feature is just one
                                                            of many new
                                                            enhancements coming
                                                            with our Premium
                                                            version, designed to
                                                            help you grow and
                                                            streamline your home
                                                            baking business.
                                                        </p>
                                                        <span>Convenient</span>
                                                        <span>Timely</span>
                                                        <span class="last-span">Helpful</span>
                                                        <div
                                                            class="text-button">
                                                            <a
                                                                href="#cta-premium">Register</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="left-image"
                                                        style="text-align:
                                                        center;">
                                                        <img
                                                            src="/static/assets-cta/images/exp.png"
                                                            style="width:
                                                            400px;"
                                                            alt="">
                                                    </div>
                                                    <div class="right-content">
                                                        <h4>Weekly Reports</h4>
                                                        <p>With our Premium
                                                            version, you'll
                                                            receive weekly
                                                            reports summarizing
                                                            your business
                                                            performance. This
                                                            feature is designed
                                                            to help you track
                                                            your progress,
                                                            identify areas for
                                                            improvement, and
                                                            work on it.<br>

                                                            The weekly reports
                                                            will provide a
                                                            snapshot of your
                                                            business activities
                                                            for the previous
                                                            week, including your
                                                            sales, expenses, and
                                                            profits. You'll be
                                                            able to see how your
                                                            business is
                                                            performing over
                                                            time, and track
                                                            changes in your
                                                            revenue and
                                                            expenses.<br>

                                                            Our weekly reports
                                                            provide a
                                                            comprehensive
                                                            overview
                                                            of your business
                                                            performance,
                                                            including sales,
                                                            expenses, and
                                                            profits. You'll be
                                                            able to see
                                                            how your business is
                                                            doing at a glance
                                                            and make
                                                            informed decisions
                                                            about your
                                                            operations.</p>
                                                        <span>Insightful</span>
                                                        <span>Comprehensive</span>
                                                        <span class="last-span">Informative</span>
                                                        <div
                                                            class="text-button">
                                                            <a
                                                                href="#cta-premium">Register</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="left-image"
                                                        style="text-align:
                                                        center;">
                                                        <img
                                                            src="/static/assets-cta/images/report.png"
                                                            style="width:
                                                            350px;"
                                                            alt="">
                                                    </div>
                                                    <div class="right-content">
                                                        <h4>In-Depth Reports</h4>
                                                        <p>In addition to weekly
                                                            reports, With our
                                                            Premium version,
                                                            you'll have access
                                                            to detailed reports
                                                            that provide an
                                                            in-depth view of
                                                            your business
                                                            performance. This
                                                            feature is designed
                                                            to help you gain a
                                                            deeper understanding
                                                            of your revenue and
                                                            expenses, and make
                                                            strategic decisions
                                                            to improve your
                                                            profitability.<br>
                                                            The In-Depth Report
                                                            feature provides a
                                                            comprehensive
                                                            analysis of your
                                                            business activities,
                                                            including your
                                                            sales, expenses, and
                                                            profits. You'll be
                                                            able to see a
                                                            breakdown of your
                                                            revenue by product,
                                                            customer, and order
                                                            date. You'll also be
                                                            able to track your
                                                            expenses, including
                                                            the cost of goods
                                                            sold, overhead
                                                            expenses, and other
                                                            costs associated
                                                            with running your
                                                            home baking
                                                            business.</p>
                                                        <span>Analytical</span>
                                                        <span>Detailed</span>
                                                        <span class="last-span">Advanced</span>
                                                        <div
                                                            class="text-button">
                                                            <a
                                                                href="#cta-premium">Register</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="left-image"
                                                        style="text-align:
                                                        center;">
                                                        <img
                                                            src="/static/assets-cta/images/premium.png"
                                                            style="width:
                                                            350px;"
                                                            alt="">
                                                        <!-- <div class="price"><h6>$76</h6></div> -->
                                                    </div>
                                                    <div class="right-content">
                                                        <h4>Bill Generator</h4>
                                                        <p> With our Premium
                                                            version, you'll have
                                                            access to a Bill
                                                            Generator that
                                                            automates the
                                                            process of creating
                                                            and sending bills to
                                                            your customers. This
                                                            feature is designed
                                                            to help you save
                                                            time, reduce errors,
                                                            and improve your
                                                            overall customer
                                                            experience.<br>

                                                            The Bill Generator
                                                            feature enables you
                                                            to create
                                                            professional-looking
                                                            invoices that
                                                            include all the
                                                            necessary
                                                            information, such as
                                                            customer details,
                                                            order information,
                                                            and payment terms.
                                                            You'll be able to
                                                            customize the look
                                                            and feel of your
                                                            invoices to match
                                                            your brand identity,
                                                            and add your own
                                                            logo and branding.
                                                            Once you've created
                                                            an invoice, you can
                                                            send it to your
                                                            customer directly
                                                            from the platform
                                                            via email or
                                                            WhatsApp. Your
                                                            customer will
                                                            receive a clear and
                                                            professional-looking
                                                            invoice that they
                                                            can pay online,
                                                            simplifying the
                                                            payment process and
                                                            improving your cash
                                                            flow.</p>
                                                        <span>Convenient</span>
                                                        <span>Automated</span>
                                                        <span class="last-span">Professional</span>
                                                        <div
                                                            class="text-button">
                                                            <a
                                                                href="#cta-premium">Resigter</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Main Banner Area End ***** -->

        <section class="simple-cta" id="cta-premium">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="left-image" style="text-align: center;">
                            <img
                                src="/static/assets-cta/images/20-premium.png"
                                style="width: 500px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 align-self-center">
                        <h6>Get the discount right now!</h6>
                        <h4>Flat 20% OFF For Premium Version</h4>
                        <p>Don't miss out on our exclusive offer! Register
                            yourself today
                            and become eligible for a 20% discount on our
                            upcoming premium
                            version of the website. With the premium
                            version, you'll be able
                            to access a wide range of new features and
                            enhancements, including
                            order delivery notifications, in-depth financial
                            reports, a
                            convenient bill generator and much more. By
                            registering now, you'll be one of
                            the first to know when the premium version
                            becomes available, and
                            you'll be able to take advantage of our special
                            discount offer.
                            Don't wait - sign up today and get ready to take
                            your home bakery
                            business to the next level!</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-7 col-sm-12 col-md-12">
                                    <input class="rounded cta-input"
                                        name="premium-email" type="email"
                                        style="width: 100%; height: 45px;"
                                        placeholder="Email" required>
                                </div>
                                <div class="col-lg-5 col-sm-6 col-md-6">
                                    <button class="white-button rounded-3"
                                        style="border: 0px; width: 100%;
                                        height: 45px; border-radius: 10%;">
                                        <a type="submit" style="color:
                                            #dc8cdb;"><b>Register For
                                                Premium</b></a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div class="col-lg-12">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/" target="_blank"><i
                            class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i
                            class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i
                            class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-12">
            <footer class="content-footer footer bg-footer-theme
                text-center">
                <br>
                <div class="mb-3">
                    © <script>document.write(new Date().getFullYear());</script> Copyright<br>All rights reserverd to                                  
                    <span><b><a href="{% url 'home' %}" style="color:#2f32eb;">Bakers Hub</a></b></span><br>                  
                </div>
            </footer>
        </div>

        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="/static/assets-cta/vendor/jquery/jquery.min.js"></script>
        <script
            src="/static/assets-cta/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/assets-cta/js/isotope.min.js"></script>
        <script src="/static/assets-cta/js/owl-carousel.js"></script>
        <script src="/static/assets-cta/js/lightbox.js"></script>
        <script src="/static/assets-cta/js/tabs.js"></script>
        <script src="/static/assets-cta/js/video.js"></script>
        <script src="/static/assets-cta/js/slick-slider.js"></script>
        <script src="/static/assets-cta/js/custom.js"></script>
        <script>
        // get the target element by ID
        function scrollToTarget() {
        const targetElement = document.getElementById('premium_features');
      
        // scroll to the target element and land slightly above it
        window.scrollTo({
          top: targetElement.offsetTop + 200,
          behavior: 'smooth'
        });
        }
      </script>
        <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
    </body>

</html>