{% include "header.html" %}
<div class="card mb-4">
    <h5 class="card-header">Profile Details</h5>
    <!-- Account -->
    <div class="card-body">
      <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="d-flex align-items-start align-items-sm-center gap-4">
        {% if profile_pfp == 0 %}
        <img
            src="/static/assets-dash/img/avatars/{{p_letter}}.png"
            alt="user-avatar"
          class="d-block rounded"
          height="100"
          width="100"
          id="uploadedAvatar" />
        {% else %}
        <img
            src="{{profile_pfp}}"
            alt="user-avatar"
          class="d-block rounded"
          height="100"
          width="100"
          id="uploadedAvatar" />
        {% endif %}
        
        <input type="hidden" name="pfp_changed" value="False" id="pfp_changed">
        <div class="button-wrapper">  
          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
            <span class="d-none d-sm-block">Upload new photo</span>
            <i class="bx bx-upload d-block d-sm-none"></i>
            <input
              type="file"
              id="upload"
              class="account-file-input"
              hidden
              name="pfp"
              accept="image/png, image/jpeg"
            />
          </label>
          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
            <i class="bx bx-reset d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Reset</span>
          </button>

          <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800Kb</p>
        </div>
      
      </div>
    </div>
    <hr class="my-0" />
    <div class="card-body">
      
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input
              class="form-control"
              type="text"
              id="firstName"
              name="first_name"
              value="{{first_name}}"
              autofocus
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input class="form-control" type="text" name="last_name" id="lastName" value="{{last_name}}" />
          </div>
          <div class="mb-3 col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input
              class="form-control"
              type="text"
              id="email"
              name="email"
              value="{{email}}"
              readonly
            />
          </div>
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-primary me-2">Save changes</button>
          <button type="reset" class="btn btn-outline-secondary">Cancel</button>
        </div>
      </form>
    </div>
    <!-- /Account -->
</div>
<!-- Footer -->
<footer class="content-footer footer bg-footer-theme
text-center">
<div class="mb-3">

    © <script>document.write(new Date().getFullYear());</script> Copyright<br>All rights reserverd to
    <span style="color: #2f32eb;"><b>BakersHub</b></span>    

</div>
</footer>
<!-- / Footer -->
  <!-- Core JS -->
    <!-- build:js assets-dash/vendor/js/core.js -->
    <script src="/static/assets-dash/vendor/libs/jquery/jquery.js"></script>
    <script src="/static/assets-dash/vendor/libs/popper/popper.js"></script>
    <script src="/static/assets-dash/vendor/js/bootstrap.js"></script>
    <script src="/static/assets-dash/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/static/assets-dash/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="/static/assets-dash/js/main.js"></script>

    <!-- Page JS -->
    <script src="/static/assets-dash/js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>