<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
    data-assets-dash-path="/static/assets-dash/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
            minimum-scale=1.0, maximum-scale=1.0" />

    <title>Baker's Hub - Report</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" href="/static/assets-cta/images/favicon.png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.g/static.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/static/assets-dash/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/assets-dash/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/static/assets-dash/vendor/css/theme-default.css"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/static/assets-dash/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/assets-dash/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/static/assets-dash/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/assets-dash/js/config.js"></script>
  
    
</head>

<body style="background-color: #696cff;">
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-6">
                    <h2 style="color: #fff;"><b>Baker's Hub Report</b></h2>
                </div>
                <div class="col-6 text-end">
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded" style="color: #000;"></i>
                        </button>                
                        <div class="dropdown-menu dropdown-menu-start" aria-labelledby="transactionID">
                            <a class="dropdown-item item-hover" href="#">Last Month</a>
                            <a class="dropdown-item item-hover" href="#">This Year</a>
                            <a class="dropdown-item item-hover" href="#">lifetime</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bxl-play-store bx-md text-primary bg-label-primary p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Total App Visitors</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{total_app_visitors}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bxl-chrome bx-md text-primary bg-label-primary p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Total Web Visitors</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{total_web_visitors}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bxl-android bx-md text-primary bg-label-primary p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Android App Users</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{android_app_user}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bxl-apple bx-md text-primary bg-label-primary p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>iOS App Users</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{iOS_app_user}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-user-circle bx-md text-info bg-label-info p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Total Users</b></span>
                            <h3 class="card-title mb-2">{{all_users}}</h3>
                            <!-- <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{profit_perct}}%
                            </small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-user-circle bx-md text-info bg-label-info p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>{{month}} Users</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{this_mon_users}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-microphone bx-md text-info bg-label-info p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>iOS Mic Clicks</b></span>
                            <h3 class="card-title mb-2">{{ios_mic}}</h3>
                            <!-- <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{profit_perct}}%
                            </small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-microphone bx-md text-info bg-label-info p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Android Mic Clicks</b></span>
                            <h3 class="card-title mb-2">{{android_mic}}</h3>
                            <!-- <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{profit_perct}}%
                            </small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-user-check bx-md text-success bg-label-success p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Total Premium Users</b></span>
                            <h3 class="card-title mb-2">{{premium_users}}</h3>
                            <!-- <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i>
                                &nbsp;
                            </small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-user-check bx-md text-success bg-label-success p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>{{month}} premium users</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{this_mon_premium_users}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-user-check bx-md text-success bg-label-success p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Total Freemium Users</b></span>
                            <h3 class="card-title mb-2">{{freemium_users}}</h3>
                            <!-- <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i>
                                &nbsp;
                            </small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-user-check bx-md text-success bg-label-success p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>{{month}} freemium users</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{this_mon_freemium_users}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-wallet bx-md text-success bg-label-success p-1 rounded" style="border: #000 1px solid;"></i>                                    
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Total Sales Entery</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{total_sales}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-money bx-md text-danger bg-label-danger p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Total Expenses Entery</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{total_exp}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bxl-android bx-md text-primary bg-label-primary p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Android Visitors</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{Android}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bxl-apple bx-md text-primary bg-label-primary p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>iPhone Visitors</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{iPhone}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bxl-windows bx-md text-primary bg-label-primary p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>Windows Visitors</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{Windows}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card mt-4" style="box-shadow: 5px 5px 10px black;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <i class="bx bx-laptop bx-md text-primary bg-label-primary p-1 rounded" style="border: #000 1px solid;"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1"><b>MacBook Visitors</b></span>
                            <h3 class="card-title text-nowrap mb-2">{{Macintosh}}</h3>
                            <!-- <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i>
                                &nbsp;</small> -->
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</body>

<!-- / Content -->

<!-- Footer -->
<!-- <footer class="content-footer footer bg-footer-theme text-center">
    <div class="pb-3">
        © <script>document.write(new Date().getFullYear());</script> Copyright<br>All rights reserverd to
        <span style="color: #2f32eb;"><b>BakersHub</b></span>

    </div>
</footer> -->
<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- / Layout wrapper -->
<!-- 
<div class="buy-now">
    <a href="{% url 'home' %}#cta-premium" target="_blank" class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
</div> -->


<!-- Core JS -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- build:js assets-dash/vendor/js/core.js -->
<script src="/static/assets-dash/vendor/libs/popper/popper.js"></script>
<script src="/static/assets-dash/vendor/js/bootstrap.js"></script>
<script src="/static/assets-dash/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/static/assets-dash/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/assets-dash/vendor/libs/apex-charts/apexcharts.js"></script>
<!-- Main JS -->
<script src="/static/assets-dash/js/main.js"></script>

<!-- Page JS -->
<script src="/static/assets-dash/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
</body>